@model MECTRONICS.Models.CLASES

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>CLASES</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MATERIAS.DESCRIPCION)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MATERIAS.DESCRIPCION)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PROFESORES.DOCUMENTO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PROFESORES.DOCUMENTO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SALONES.DESCRIPCION)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SALONES.DESCRIPCION)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
