@model IEnumerable<MECTRONICS.Models.CLASES>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            
            PROFESOR
        </th>
        <th>
            
            MATERIA
        </th>
        <th>
            
            SALON
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.PROFESORES.DOCUMENTO)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.MATERIAS.DESCRIPCION)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.SALONES.DESCRIPCION)
    </td>
    <td>
        @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
        @Html.ActionLink("Details", "Details", new { id = item.ID }) |
        @Html.ActionLink("Delete", "Delete", new { id = item.ID })
    </td>
</tr>
}

</table>
